.vs/
.nuget/
packages/
node_modules/
*.jpg
*.gif
*.png
*.svg
*.pdf
TestYourself.Admin/bin/
TestYourself.Admin/obj/
TestYourself.Campus/bin/
TestYourself.Campus/obj/
TestYourself.Core/bin/
TestYourself.Core/obj/
TestYourself.Data/bin/
TestYourself.Data/obj/
TestYourself.Web/bin/
TestYourself.Web/obj/
